.bg-azul { background-color: #000055; }

.configuracion { padding-bottom: 14px; }

.simulador {
  height: 91%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cuadroLegenda {
  border: 1px solid gray;
  width: 30px;
  height: 20px;
  margin-right: 8px;
}

.paquete {
  width: 18px;
  height: 32px;
  border: 1px solid #000;
  margin-left: 10px;
  margin-top: 25px;
}

.config .form-item.disable.disabled {
  background-color: silver;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .configuracion { padding-bottom: 6px; }
  
  .legenda .d-flex p { font-size: 13px; }
}