.bg-azul { background-color: #000055; }

.configuracion { padding-bottom: 14px; }

.simulador {
  height: 91%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cuadroLegenda {
  border: 1px solid gray;
  width: 30px;
  height: 20px;
  margin-right: 8px;
}

.paquete {
  width: 30px;
  height: 60px;
  border: 1px solid #000;
  margin-left: 10px;
  margin-top: 25px;
}

#svg {
	cursor: crosshair;
	position: relative;
	border: 1px solid black;
	overflow: hidden;
}

div.dscPkg {
	border: solid 1px black;
	width: 30px;
}

#root {
	position: absolute;
}

#svg > #root div, #svg canvas {
	position: absolute;
}

#svg canvas.window-timer {
	height: 40px;
	width: 40px;
	z-index: 45;
	margin-left: -20px;
}

#svg div.desc{
	font-size: 30px;
	z-index: 10;
	margin: 10px;
}

div.desc > div.bottom {
	bottom: 10px;
}

.window{
	border: 1px solid black;
	background: #a7a5a6;
	z-index: 41;
}

.pkg {
	background: #00adef;
	border: 1px solid black;
	width: 16px;
	height: 30px;
	z-index: 42;
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pkg.delivered {
	background: #000055;
}
.pkg.confirmed {
	background: yellow;
}
.pkg.ack {
	background: green;
}
.pkg.empty {
	background: #fff;
}

@media (min-width: 576px) {
	#svg {
		width: 100%;
		height: 400px;
	}

	#svg div.desc{
		width: 100%;
		height: 400px;
	}
}

@media (min-width: 768px) {
	#svg {
		width: 100%;
		height: 400px;
	}

	#svg div.desc{
		width: 100%;
		height: 400px;
	}
}

@media (min-width: 992px) {

	#svg {
		width: 100%;
		height: 400px;
	}

	#svg div.desc{
		width: 100%;
		height: 400px;
	}
}

@media (min-width: 1200px) {
	#svg {
		width: 100%;
		height: 400px;
	}

	#svg div.desc{
		width: 100%;
		height: 400px;
	}
}